html {
  background-color: #ffedcb;
  color: #1a1a1a;
}

html.dark {
  background-color: #1a1a1a;
  color: #ffedcb;
}

article p {
  padding-top: 1.5rem;
}

article img {
  margin-bottom: 3rem;
  border-radius: 50px;
}

::selection {
  background: #cf9ea9;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 5px solid;
}
