---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = '404';
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class="my-8 text-5xl font-bold">{pageTitle}</h1>
  <p>Χαμένοι στον λαβύρινθο των λέξεων, ακόμα να βρεθούμε</p>
  <p>Ζούμε την κάθε μέρα απ' την αρχή, ακόμα να αισθανθούμε</p>
</BaseLayout>
