---
import BaseLayout from '../layouts/BaseLayout.astro';

const metaDescription =
  'Η δική μου γωνία του ίντερνετ, όπου θα ήθελα να μοιραστώ τις σκέψεις μου με τον κόσμο. Θα μπορούσες να τις πεις και ποιητικές. Ελπίζω να σου αρέσουν και να τις διαβάζεις που και που.';
---

<BaseLayout metaDescription={metaDescription}>
  <article>
    <h1 class="mt-8 text-5xl font-bold">Ποιητικές σκέψεις</h1>
    <p class="mt-2">Καλώς ήρθες,</p>
    <p>
      Στην δική μου γωνία του ίντερνετ, όπου θα ήθελα να μοιραστώ τις σκέψεις
      μου με τον κόσμο. Θα μπορούσες να τις πεις και ποιητικές. Ελπίζω να σου
      αρέσουν και να τις διαβάζεις που και που.
    </p>
    <p>
      <b>Τι;</b> Μου έρχονται σκέψεις τυχαία. Μπορεί να δω μια εικόνα, μια
      κατάσταση, μια συμπεριφορά, την φύση και να μου βγει να γράψω κάτι.
    </p>
    <p><b>Ποιός;</b> Εγώ!</p>
    <p>
      <b>Που;</b> Μπορείς να τις βρεις
      <a class="underline" href="/poems">εδώ</a>.
    </p>
    <p>
      <b>Πότε;</b> Όποτε μου έρθει η πρώτη πρόταση, μετά συνεχίζω όταν το νιώσω.
    </p>
    <p><b>Γιατί;</b> Ξέρω 'γω, γιατί όχι?</p>
    <p>Ευχαριστώ.</p>
  </article>
</BaseLayout>
