---
import BaseLayout from '../layouts/BaseLayout.astro';
import PoemLink from '../components/PoemLink.astro';
const allPosts = await Astro.glob('../pages/poems/*.md');
const pageTitle = 'Ποιήματα';
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class="my-8 text-5xl font-bold">{pageTitle}</h1>
  <ul>
    {
      allPosts.map((post) => (
        <PoemLink url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
