---
import Anchor from './Anchor.astro';

const { url, title } = Astro.props;
---

<li class="group mt-2">
  <div class="inline-block w-6">
    <span
      class="absolute transition-all duration-300 group-hover:invisible group-hover:opacity-0"
    >
      &#8275;
    </span>
    <span
      class="invisible ml-1 opacity-0 transition-all duration-300 group-hover:visible group-hover:opacity-100"
    >
      &ndash;
    </span>
  </div>
  <Anchor url={url} title={title} />
</li>
