---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import '@fontsource/comfortaa';
import '../styles/global.css';

const { pageTitle, metaDescription } = Astro.props;
---

<html lang="el">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={metaDescription} />
    <title>{ ( pageTitle ) ? pageTitle + " | Ποιητικές σκέψεις" : "Ποιητικές σκέψεις" }</title>
  </head>
  <body class="mx-auto max-w-prose px-4 sm:px-0">
    <Header />
    <main class="mt-24 text-lg text-center">
      <slot />
    </main>
    <Footer />
  </body>
</html>
