---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <article>
    <h1 class="mb-6 text-5xl font-bold">{frontmatter.title}</h1>
    <slot />
  </article>
</BaseLayout>
